@{
    ViewData["Title"] = "HOME";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo(a)!</h1>
    <p>Veja mais em: <a href="https://www.olx.com.br/estado-go?q=carros">Compre ou alugue carros!</a>.</p>
</div>
<div class="text-center">
    <img src="https://imgs.search.brave.com/ApPr6byRheTMZkMB-a19afjnrMbYWzTpP2z1QbBpXt0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/b2x4LmNvbS5ici90/aHVtYnM3MDB4NTAw/LzkzLzkzNjU2MDA4/Njc0NzEyMi53ZWJw"
        alt="Chevette">
</div>
